
<div class="container" style="padding-top: 60px;">


	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	
	{# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
  
  	<h1 class="page-header">Modifier le profil</h1>
  	
  	<p>Test: {{ test}}</p>
  
  	<!-- Photo du profil -->
  	<div class="row">
		<!-- left column -->
    	<div class="col-md-4 col-sm-6 col-xs-12">
      		<div class="text-center">
        		<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
        		<h6>Charger une photo différente...</h6>
        		
        		{# Affichage des erreurs pour ce champ précis. #}
      			{{ form_errors(form.fichierImage) }}
      			
      			{{ form_widget(form.fichierImage, {'attr': {'class': 'text-center center-block well well-sm'}}) }}
      	</div>
    </div>
    
    <!-- Autres champs du formulaire -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
    	
    	<!-- Alerte au cas ou le profil n'a pas été saisi -->
    	<div class="alert alert-info alert-dismissable">
        	<a class="panel-close close" data-dismiss="alert">×</a> 
        	<i class="fa fa-coffee"></i>
        	<strong>Important: </strong>. vous n'avez pas encore saisi complêtement votre profil.
      	</div>
      	
      	<h3>Champs obligatoires</h3>
      	<!--  <form class="form-horizontal" role="form"> -->
      	
      	<!-- Prénom -->
      	<div class="form-group">
        	{{ form_label(form.prenom, "Prénom: ", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
        	
        	{# Affichage des erreurs pour ce champ précis. #}
      		{{ form_errors(form.prenom) }}
			
			<div class="col-lg-8">
            	{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
          	</div>
        </div>
        
        <!-- Nom -->
        <div class="form-group">
        	
          	<label class="col-lg-3 control-label">Nom:</label>
          	
          	{# Affichage des erreurs pour ce champ précis. #}
      		{{ form_errors(form.nom) }}
          		
          	<div class="col-lg-8">
            	{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
          	</div>
        </div>
        
        <!-- Pseudo -->
        <div class="form-group">
        	
          	<label class="col-lg-3 control-label">Pseudo:</label>
          	
          	{# Affichage des erreurs pour ce champ précis. #}
      		{{ form_errors(form.pseudo) }}
          		
          	<div class="col-lg-8">
            	{{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
          	</div>
        </div>
        
         <!-- Sexe -->
        <div class="form-group">
        	
          	<label class="col-lg-3 control-label">Sexe:</label>
          	
          	{# Affichage des erreurs pour ce champ précis. #}
      		{{ form_errors(form.idSexe) }}
          		
          	<div class="col-lg-8">
            	{{ form_widget(form.idSexe, {'attr': {'class': 'form-control'}}) }}
          	</div>
        </div>
        	
        <!--  Email -->
        <div class="form-group">
        	
          	<label class="col-lg-3 control-label">Email:</label>
          		
          	<div class="col-lg-8">
            	<input class="form-control" value="janesemail@gmail.com" type="text">
          	</div>
        </div>
        
  
        
        <!-- Adresse -->
        <div class="form-group">
        	
          	<label class="col-lg-3 control-label">Adresse:</label>
          		
          	<div class="col-lg-8">
            	<input class="form-control" type="text" id = 'geocoding'>
          	</div>
        </div>
        
        <!-- Ville + code postal -->
        <div class="form-group">
        	
          	<label class="col-lg-3 control-label">Ville:</label>
          		
          	<div class="col-lg-4">
            	{{ form_widget(form.adresse.ville, {'attr': {'class': 'form-control'}}) }}
          	</div>
          	
          	<label class="col-lg-2 control-label">Code postal:</label>
          	
          	<div class="col-lg-2">
            	{{ form_widget(form.adresse.codePostal, {'attr': {'class': 'form-control'}}) }}
          	</div>
        </div>
        
        <!-- Téléphone -->
        <div class="form-group">
        	
          	<label class="col-lg-3 control-label">Téléphone:</label>
          	
          	{# Affichage des erreurs pour ce champ précis. #}
      		{{ form_errors(form.telephone) }}
          		
          	<div class="col-lg-8">
            	{{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
          	</div>
        </div>
        	
        <!-- Date de naissance -->
        <div class="form-group">
        	
          	<label class="col-md-3 control-label">Date de naissance:</label>
          		
          	{# Affichage des erreurs pour ce champ précis. #}
      		{{ form_errors(form.dateNaissance) }}
          		
          	<div class="col-lg-8">
            	{{ form_widget(form.dateNaissance, {'attr': {'class': 'form-control input_date'}}) }}
          	</div>
        </div>
        
        <!-- Description -->
        <div class="form-group">
        	
          	<label class="col-md-3 control-label">Description:</label>
          		
          	{# Affichage des erreurs pour ce champ précis. #}
      		{{ form_errors(form.description) }}
          		
          	<div class="col-lg-8">
            	{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
          	</div>
        </div>
        	
        <div class="form-group">
        	
          	<label class="col-md-3 control-label"></label>
          		
          	<div class="col-md-8">
            		{{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
          	</div>
        </div>
    </div>
    
    {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  	{{ form_rest(form) }}

	{{ form_end(form) }}
</div>